.navbar {
  min-height: 5vh;
}
.pageContainer {
  min-height: 100vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bgPicCont {
  z-index: 1;
  background-image: url(../images/bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.bgPicBlack {
  z-index: 2;
  background-color: #000000;
  opacity: 0.8;
}

.wrap {
  word-wrap: break-word;
}
.breakp {
  word-break: break-all;
}
.contain {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.my-height {
  height: 280px;
}
.box {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* pointer-events: none; */
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.preventEvent {
  pointer-events: none;
}
/* .box:hover {
  transform: rotateY(-180deg);
} */
.z-ind5 {
  z-index: 5;
}
.z-ind10 {
  z-index: 10;
}
.z-ind20 {
  z-index: 20;
}
.z-ind30 {
  z-index: 30;
}
.z-ind50 {
  z-index: 50;
}

.frontFace {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.backFace {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/* for lang options btn */
.myBtn1 {
  cursor: pointer;
  background-color: #0dcaf0d3;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* for lek option btn */
.myBtn {
  cursor: pointer;
  /* background-color: #0dcaf0; */
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* for any text shadow */
.textShadow {
  text-shadow: 1px 1px 3px black;
}
.myBtnClicked {
  cursor: pointer;
  color: white;
  background-color: rgba(20, 143, 195, 0.75);
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.myBtn:hover {
  color: white;
  background-color: rgb(20, 142, 195);
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.myshadow {
  min-height: 45px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.myshadow:hover {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
  border: none !important;
}

.fix-s {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.316);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.316);
}
.onlyShadow {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.47);
}
.onlyShadowWhite {
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.842);
}
.innerShadow {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.bg-L1,
.bg-L13 {
  background-color: rgba(236, 88, 88, 0.7);
  /* opacity: 0.5; */
}
.bg-L2,
.bg-L13,
.bg-L24 {
  background-color: rgba(246, 169, 52, 0.7);
}
.bg-L3,
.bg-L14,
.bg-L25 {
  background-color: rgb(136, 137, 130, 0.7);
}
.bg-L4,
.bg-L15,
.bg-L26 {
  background-color: rgb(93, 163, 32, 0.7);
}
.bg-L5,
.bg-L16,
.bg-L27 {
  background-color: rgb(43, 226, 186, 0.7);
}
.bg-L6,
.bg-L17,
.bg-L28 {
  background-color: rgba(0, 87, 142, 0.7);
}
.bg-L7,
.bg-L18,
.bg-L29 {
  background-color: rgba(51, 87, 231, 0.7);
}
.bg-L8,
.bg-L19,
.bg-L30 {
  background-color: rgb(137, 43, 226, 0.7);
}
.bg-L9,
.bg-L20 {
  background-color: rgb(226, 43, 147, 0.7);
}
.bg-L10,
.bg-L21 {
  background-color: rgb(138, 66, 8, 0.7);
}
.bg-L11,
.bg-L22 {
  background-color: rgb(15, 125, 117, 0.7);
}
.bg-L12,
.bg-L23 {
  background-color: rgba(115, 115, 18, 0.7);
}

.nav-link:hover {
  background-color: rgba(125, 6, 6, 0.59) !important;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  background-color: transparent !important;
  border: 0 solid transparent !important;
}

input,
input:active,
input:focus {
  outline: none;
  background-color: rgb(103, 103, 103);
}

input::-webkit-input-placeholder {
  font-size: large;
  color: rgba(255, 255, 255, 0.622);
}

input::-moz-placeholder {
  font-size: large;
  color: rgba(255, 255, 255, 0.622);
}

input:-ms-input-placeholder {
  font-size: large;
  color: rgba(255, 255, 255, 0.622);
}

input::-ms-input-placeholder {
  font-size: large;
  color: rgba(255, 255, 255, 0.622);
}

input::placeholder {
  font-size: large;
  color: rgba(255, 255, 255, 0.622);
}

.hideBtn {
  top: 200px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  width: 150px;
  height: 70px;
  -webkit-transform: rotate(-90deg) translatey(-70px);
      -ms-transform: rotate(-90deg) translatey(-70px);
          transform: rotate(-90deg) translatey(-70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  padding-bottom: 7px;
  font-size: large;
  font-weight: 900;
  color: rgba(174, 31, 31, 0.912);
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: -3px 3px 6px black;
          box-shadow: -3px 3px 6px black;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.hideBtn:hover {
  -webkit-transform: rotate(-90deg) translatey(-45px);
      -ms-transform: rotate(-90deg) translatey(-45px);
          transform: rotate(-90deg) translatey(-45px);
  padding-bottom: 10px;
}

.bgg {
  background-color: aqua !important;
}

.toastE {
  display: block !important;
}
